@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&family=Nunito+Sans:wght@200;500;600&family=PT+Serif:wght@400;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0px;
    font-family: 'Montserrat', sans-serif;
    background-image: url(messi.webp);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    background-repeat: no-repeat;
    color: white;
    overflow: hidden;
}

h1{
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    margin: 0;
    text-shadow: -1px 1px 0 #000, 
                          1px 1px 0 #000, 
                         1px -1px 0 #000, 
                        -1px -1px 0 #000; 
}

#countdown-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 150px;
}

.big-text{
    font-size: 50px;
    margin: 0;
    font-weight: bolder;
}

.final-text{
    text-align: center;
    font-size: 50px;
    text-shadow: -1px 1px 0 #000, 
                          1px 1px 0 #000, 
                         1px -1px 0 #000, 
                        -1px -1px 0 #000; 
}

.countdown-el{
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: center;
    text-shadow: -1px 1px 0 #000, 
                          1px 1px 0 #000, 
                         1px -1px 0 #000, 
                        -1px -1px 0 #000; 
}

.countdown-el span{
    text-align: center;
    font-weight: 300;
    padding: 3px;
    text-shadow: -1px 1px 0 #000, 
                          1px 1px 0 #000, 
                         1px -1px 0 #000, 
                        -1px -1px 0 #000; 
}

#lau{
    width: 180px;
}

#titulolau{
    display: flex;
    align-items: center;
}